<div class="row" ng-controller="userMessagesController">
	<div class="col s12" style="padding: 0px;">
		<div class="row messages">
			<div class="col s4">
				<div class="title">
					Діалоги
				</div>
				<div class="dialogs">
					<div class="dialog" scroll-item ng-class='{"active":selectedDialog==-1}' ng-click='getDialogMessages(-1, "msg")'>
						<div>
							Нове повідомлення
						</div>
					</div>
					<div class="dialog" scroll-item ng-repeat="dialog in dialogs" ng-init="item = getDialogConvertedItem(dialog)" ng-class='{"active":selectedDialog=={{item.id}}}' ng-click="getDialogMessages(item.id, item.type)">
						<div class="prf-img">
							<img src="{{item.photo}}" width="30px" height="30px"/>
						</div>
						<div class="prf-name">
							{{item.title}}
						</div>
						<div class="new-msg">
							{{item.unread}}
						</div>
					</div>
				</div>
			</div>
			<div class="col s8" style="border-left: 1px solid #808080; height:100%;">
				<div class="title">
					&nbsp;
				</div>
				<div class="dialog-msgs">
					<div ng-class='{"hidden":selectedDialog > -1}' class="send-new">
						<label style="padding-left: 5px;">Виберіть друга, якоми ви бажаєте надіслати повідомлення:</label>
						<div class="friends">
							<div class="item" ng-repeat="friend in friends" ng-class='{"active":selectedFriendId=={{friend.id}}}' ng-click="selectFriend(friend.id)">
								<img src="{{friend.photo_50}}" />
								<div style="padding: 5px;">
									{{friend.first_name}} {{friend.last_name}} 
								</div>
							</div>
						</div>
					</div>
					<div ng-class='{"hidden":selectedDialog == -1}' class="msgs-list" id="dialogs-msgs">
						<div class="msg" ng-repeat="msg in dialogMessages" ng-init="item = getConvertedMessage(msg)">
							<div class="msg-title">
								<div class="name">
									{{item.title}}
								</div>
								<div class="time">
									{{item.time}}
								</div>
							</div>
							<div class="msg-text">
								{{item.text}}
							</div>
							<div class="msg-attachment" ng-bind-html="item.attachmentHTML">
							</div>
						</div>
					</div>
					<div class="msgs-send">
						<textarea ng-model="enteredText"></textarea>
						<div ng-click="sendMessage()">
							<i class="material-icons" >&#xE163;</i>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>